* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.grid_container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.grid_boxes {
  width: 10px;
  flex: 1;
  border: grey solid 1px;
}

footer {
  display: flex;
  margin-top: auto;
  background-color: #1f2937;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  width: 100%;
}

button {
  margin-bottom: 10px;
}

h1 {
  margin: 10px 0px;
  text-decoration: underline;
}
